{% extends "base.html" %}

{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center mt-5 mb-4">Sobre Nosotros</h1>
            <p class="lead">¡Bienvenido a nuestra Fundación de Animales!</p>
            <p>Nuestra fundación se dedica a rescatar, proteger y proporcionar cuidados a animales en situación de vulnerabilidad. Desde perros y gatos hasta animales exóticos, trabajamos incansablemente para brindarles un hogar seguro y amoroso.</p>
            <p>Con el apoyo de nuestros generosos donantes y voluntarios, hemos podido salvar la vida de cientos de animales y encontrarles hogares permanentes donde puedan vivir felices y saludables.</p>
            <p>En nuestra fundación, nos comprometemos a promover la conciencia sobre el bienestar animal, educar a la comunidad sobre la adopción responsable y trabajar para poner fin al maltrato y abandono de animales.</p>
            <p>¡Únete a nosotros en nuestra misión de hacer del mundo un lugar mejor para todos los seres vivos!</p>
            
            <h2 class="mt-5">¡Suscríbete a nuestra Fundación!</h2>
            <p>Conviértete en miembro de nuestra comunidad y recibe actualizaciones sobre nuestras actividades, eventos y oportunidades de voluntariado.</p>
            
        </div>
    </div>
</div>
{% endblock %}
